@using QuanLyKhoHang.Views.Manage_Product
@model IEnumerable<QuanLyKhoHang.Models.SANPHAM>
@{
    ViewBag.Title = "Xuất hàng";
    ViewBag.showFeature = true;
}
@section Style{
    <link rel="Stylesheet" href="~/Content/Export.css" />
}
<div class="margin">
    <div class="export d-flex align-items-center justify-content-between">
        <h3>Xuất hàng</h3>
        <a href="~/Export_Product/Update">
            <span>Cập nhật</span>
        </a>
    </div>
    <div class="info-products">
        <table class="table">
            <tr>
                <th>Mã hàng</th>
                <th>Tên hàng hóa</th>
                <th>Nhà cung cấp</th>
                <th>Loại hàng hóa</th>
                <th>Giá cả</th>
                <th>Số lượng</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.MASP)</td>
                    <td>@Html.DisplayFor(model => item.TENSP)</td>
                    <td>@Html.DisplayFor(model => item.NHACUNGCAP.TEN_NCCAP)</td>
                    <td>@Html.DisplayFor(model => item.LOAISP)</td>
                    <td>@Html.DisplayFor(model => item.GIACA)</td>
                    <td>@Html.DisplayFor(model => item.SOLUONG)</td>
                </tr>
            }
        </table>
    </div>
</div>



