@using QuanLyKhoHang.Views.Manage_Product
@model IEnumerable<QuanLyKhoHang.Models.SANPHAM>
@{
    ViewBag.Title = "Xuất hàng";
    ViewBag.showFeature = true;
}
@section Style{
    <link rel="Stylesheet" href="~/Content/Export.css" />
}
<div class="margin">
    <div class="export d-flex align-items-center justify-content-between">
        <h3>Xuất hàng</h3>
        <button type="button" id="exportButton" class="btn btn-primary rounded px-3 py-3" onclick="exportSelectedItems()">
            Xuất hàng loạt
        </button>
    </div>
    <div class="info-products">
        <table class="table">
            <tr>
                <th>Mã hàng</th>
                <th>Tên hàng hóa</th>
                <th>Nhà cung cấp</th>
                <th>Loại hàng hóa</th>
                <th>Số lượng</th>
                <th>Xuất</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.MASP)</td>
                    <td>@Html.DisplayFor(model => item.TENSP)</td>
                    <td>@Html.DisplayFor(model => item.NHACUNGCAP.TEN_NCCAP)</td>
                    <td>@Html.DisplayFor(model => item.LOAISP)</td>
                    <td>@Html.DisplayFor(model => item.SOLUONG)</td>
                    <td style="position:relative">
                        <input type="checkbox" name="selectedItems" value="@item.MASP" style="position:absolute; top:50%;left:0%" />
                    </td>
                </tr>
            }
        </table>
        <a href="@Url.Action("Index","Export_Product")">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                 fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
        </a>
    </div>
    <!-- Hiển thị phân trang -->
    <div class="d-flex mt-2  justify-content-center">
        <div class="pagination">
            @if (ViewBag.TotalPages > 1)
            {

                for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <a class="@(i == ViewBag.Page ? "active" : "") btn btn-sm btn-outline-success fs-5 px-2 py-1" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                }
            }
        </div>
    </div>
</div>

<script>
    function exportSelectedItems() {
        var selectedItems = document.querySelectorAll('input[name="selectedItems"]:checked');
        var selectedIds = [];
        for (var i = 0; i < selectedItems.length; i++) {
            selectedIds.push(selectedItems[i].value);
        }
        if (selectedIds.length > 0) {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/Export_Product/ExportSelectedItems';

            for (var i = 0; i < selectedIds.length; i++) {
                var hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = 'selectedIds';
                hiddenField.value = selectedIds[i];
                form.appendChild(hiddenField);
            }

            document.body.appendChild(form);
            form.submit();
        } else {
            // Thông báo cho người dùng chọn ít nhất một sản phẩm trước khi xuất hàng loạt
            alert("Vui lòng chọn ít nhất một sản phẩm để xuất hàng loạt.");
        }
    }
</script>


