@model IEnumerable<QuanLyKhoHang.Models.SANPHAM>
@using QuanLyKhoHang.Views.Import_Product
@using Manage
@{
    ViewBag.Title = "Nhập hàng";
    ImportProduct childrenFeatures = new ImportProduct();
    ViewBag.Children = childrenFeatures.Show();
    ViewBag.showFeature = true;

}
@section Style{
    <link rel="Stylesheet" href="~/Content/Import.css" />
}

@using (Html.BeginForm("Update", "Manage_Product", FormMethod.Post, new { enctype = "multipart/form-data" }))// Thay "ControllerName" bằng tên thực tế của controller
{
    @Html.AntiForgeryToken()
<div class="margin">
    <div class="d-flex align-items-center m">
        <h3>Nhập hàng</h3>
        <a href="~/Import_Product/Add">
            <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 45" fill="none">
                <path d="M13.2999 21.5H29.6999" stroke="#5030E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M21.5 29.7V13.3" stroke="#5030E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M15.35 42H27.65C37.9 42 42 37.9 42 27.65V15.35C42 5.1 37.9 1 27.65 1H15.35C5.1 1 1 5.1 1 15.35V27.65C1 37.9 5.1 42 15.35 42Z" stroke="#5030E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>
    <div class="info-products" style="height:auto">
        <table class="table">
            <tr>
                <th>Mã hàng</th>
                <th>Tên sản phẩm</th>
                <th>Loại hàng hóa</th>
                <th>Giá cả</th>
                <th>Số lượng</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.MASP)</td>
                    <td>@Html.DisplayFor(model => item.TENSP)</td>
                    <td>@Html.DisplayFor(model => item.NHACUNGCAP.LOAISP)</td>
                    <td>@Html.DisplayFor(model => item.GIACA) <span>đ</span></td>
                    <td>@Html.DisplayFor(model => item.SOLUONG)</td>
                </tr>
            }
        </table>
    </div>

    <!-- Hiển thị phân trang -->
    <div class="d-flex mt-2  justify-content-center">
        <div class="pagination">
            @if (ViewBag.TotalPages > 1)
            {

                for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <a class="@(i == ViewBag.Page ? "active" : "") btn btn-sm btn-outline-success fs-5 px-2 py-1" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                }
            }
        </div>
    </div>
</div>
}

