@model QuanLyKhoHang.Models.KEHANG
@using QuanLyKhoHang.Views.Import_Product
@{
    ViewBag.Title = "Kệ Hàng";
    ImportProduct childrenFeatures = new ImportProduct();
    ViewBag.Children = childrenFeatures.Show();
    ViewBag.showFeature = true;
}
@section Style{
    <link rel="Stylesheet" href="~/Content/Import.css" />
}
<div class=" position-relative" style="
    height: 100%;
    top: -40px;">
    <div class="margin info" style="padding-top:40px">
        <div class="m"><h3>Nhập kệ hàng</h3></div>
        <div class="d-flex align-items-start">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="add">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="d-flex align-items-center">
                        <span>Mã kệ</span>
                        <div class="col mx-1 c3">
                            @Html.EditorFor(model => model.MA_KEHANG, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MA_KEHANG, "", new { @class = "text-danger fs-6" })
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <span>Loại sản phẩm</span>
                        <div class="col mx-1 c3">
                            @Html.EditorFor(model => model.LOAISP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LOAISP, "", new { @class = "text-danger fs-6" })
                        </div>
                    </div><div class="d-flex align-items-center">
                        <span>Vị trí kệ</span>
                        <div class="col mx-1 c3">
                            @Html.EditorFor(model => model.VITRI, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VITRI, "", new { @class = "text-danger fs-6" })
                        </div>
                    </div>
                    <div class="d-flex btn align-items-center">
                        <a href="@Url.Action("Add","Import_Product")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                 fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                            </svg>
                        </a>
                        <input type="submit" value="THÊM KỆ" class="btn btn-default mx-5" />
                    </div>
                </div>
            }
            <div class="margin info my-4 mx-4 px-5"  style="padding-top:40px; 
                                                  border:5px solid; border-radius:1rem">
                <h4 class="fw-bold text-info">Danh sách kệ hàng</h4>
                <table  class="text-center table" >
                    <tr>
                        <th>Mã kệ hàng</th>
                        <th>Loại sản phẩm</th>
                        <th>Vị trí kệ</th>
                    </tr>
                    @foreach (var item in ViewBag.KeHangList)
                    {
                        <tr>
                            <td>@item.MA_KEHANG</td>
                            <td>@item.LOAISP</td>
                            <td>@item.VITRI</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
