@model IEnumerable<QuanLyKhoHang.Models.NHACUNGCAP>
@using QuanLyKhoHang.Views.Import_Product
@using Manage
@{
    ViewBag.Title = "Danh sách nhà cung cấp";
    ImportProduct childrenFeatures = new ImportProduct();
    ViewBag.Children = childrenFeatures.Show();
    ViewBag.showFeature = true;
    
}
@section Style{
    <link rel="Stylesheet" href="~/Content/Import.css" />
    <link rel="Stylesheet" href="~/Content/Home.css" />
}
<div class="margin">
    <div class="margin info" style="padding-top:40px">
        <div class="m"><h3>Cập nhật nhà cung cấp</h3></div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>
    <div class="info-products" style="height:auto">
        <table class="table">
            <tr>
                <th>Mã nhà cung cấp</th>
                <th>Tên nhà cung cấp</th>
                <th>Loại sản phẩm</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Chức năng</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.MA_NCCAP)</td>
                    <td>@Html.DisplayFor(model => item.TEN_NCCAP)</td>
                    <td>@Html.DisplayFor(model => item.LOAISP)</td>
                    <td>@Html.DisplayFor(model => item.SDT)</td>
                    <td>@Html.DisplayFor(model => item.DIACHI)</td>
                    <td>@Html.DisplayFor(model => item.EMAIL)</td>
                    <td>
                        <a href=" @Url.Action("EditNCC","Import_Product", new { id = item.MA_NCCAP})" class="btn btn-sm btn-primary">Cập nhật</a>
                        <a href=" @Url.Action("DeleteNCC","Import_Product", new { id = item.MA_NCCAP})" class="btn btn-sm btn-danger">Xóa</a>
                    </td>
                </tr>
            }

        </table>
    </div>
    <!-- Hiển thị phân trang -->
    <div class="d-flex mt-2  justify-content-center">
        <div class="pagination">
            @if (ViewBag.TotalPages > 1)
            {

                for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <a class="@(i == ViewBag.Page ? "active" : "") btn btn-sm btn-outline-success fs-5 px-2 py-1" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                }
            }
        </div>
    </div>
</div>

