@model QuanLyKhoHang.Models.SANPHAM

@using QuanLyKhoHang.Views.Import_Product
@{
    ViewBag.Title = "Cập nhật đơn hàng";
    ImportProduct childrenFeatures = new ImportProduct();
    ViewBag.Children = childrenFeatures.Show();
    ViewBag.showFeature = true;
}
@section Style{
    <link rel="Stylesheet" href="~/Content/Import.css" />
}
<div class="d-flex align-items-start">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="add">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="d-flex flex-fill">
                <div class="d-flex align-items-center">
                    <span>Mã hàng</span>
                    <div class="col mx-1 c1">
                        @Html.EditorFor(model => model.MASP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MASP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="d-flex align-items-center" style="margin-left:3rem">
                    <span style="width:120px">Số lượng</span>
                    <div class="col c2">
                        @Html.EditorFor(model => model.SOLUONG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SOLUONG, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="d-flex align-items-center">
                <span>Tên hàng</span>
                <div class="col c3">
                    @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="d-flex align-items-center">
                <span>Giá bán</span>
                <div class="col c3">
                    @Html.EditorFor(model => model.GIACA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GIACA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="d-flex align-items-center">
                <span>Ngày hết hạn</span>
                <div class="col c6">
                    @Html.EditorFor(model => model.NGAYHETHAN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NGAYHETHAN, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="d-flex align-items-center">
                <span>Nhà cung cấp</span>
                <div class="c5">
                    <select name="MA_NCCAP">
                        <option hidden>Chọn nhà cung cấp...</option>
                        @foreach (var i in new QuanLyKhoHang.Models.QLKHEntities1().NHACUNGCAP.ToList())
                        {
                            <option value="@i.MA_NCCAP">@i.TEN_NCCAP</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.MA_NCCAP, "", new { @class = "text-danger" })
                </div>
                <a href="~/Import_Product/AddNCC">
                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 45" fill="none">
                        <path d="M13.2999 21.5H29.6999" stroke="#5030E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M21.5 29.7V13.3" stroke="#5030E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.35 42H27.65C37.9 42 42 37.9 42 27.65V15.35C42 5.1 37.9 1 27.65 1H15.35C5.1 1 1 5.1 1 15.35V27.65C1 37.9 5.1 42 15.35 42Z" stroke="#5030E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>

            <div class="d-flex btn">
                <input type="submit" value="THÊM HÀNG" class="btn btn-default" />
            </div>
        </div>
    }
</div>
