@model IEnumerable<QuanLyKhoHang.Models.DONDATHANG>
@{
    ViewBag.Title = "Đơn đặt hàng";
    ViewBag.showFeature = true;
}
@section Style{
    <link rel="Stylesheet" href="~/Content/Import.css" />
}

<div class="margin">
    <a href="@Url.Action("Add","Order")" class="btn btn-primary px-3 py-2" style="width: 200px">
        Thêm sản phẩm
    </a>
    <h3 style="text-align:center">ĐƠN ĐẶT HÀNG</h3>
    <p class="text-center">Số: @Model.FirstOrDefault().MA_DATHANG</p>
    <table class="table w-50 m-auto">
        <tr class="text-center">
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Tên nhà cung cấp</th>
            <th>Số lượng</th>
        </tr>
        @{
            int a = 1;
            foreach (var i in Model)
            {
                <tr>
                    <td>@a</td>
                    <td>@Html.DisplayFor(model => i.THONGTINDDH))</td>
                    <td>@Html.DisplayFor(model => i.NHACUNGCAP.TEN_NCCAP)</td>
                    <td>@Html.DisplayFor(model => i.NGAY_DATHANG)</td>
                </tr>
                a++;
            }
        }
    </table>
    <div class="container d-flex align-items-center justify-content-center">
        <form class="row ">
            @using (Html.BeginForm("Send", "Order", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-10">
                    <input type="submit" value="GỬi" class="btn btn-success text-light float-end w-25" />
                </div>
            }
        </form>
    </div>
</div>
